// Media Query Mixin
@mixin break($width: 959px) {
	@media screen and (max-width: $width) {
		@content;
	}
}

// Height Width Mixin
@mixin height-width($height: auto, $width: auto) {
	height: $height;
	width: $width;
}

// Margin Padding Mixin
@mixin margin-padding($margin: initial, $padding: initial) {
	margin: $margin;
	padding: $padding;
}

// Float Clear Mixin
@mixin float-clear($float: null, $clear: null) {
	float: $float;
	clear: $clear;
}