$font-body: "Roboto", sans-serif; 


// Images
$bg-body: url('../images/bg.gif');
$logo: url('../images/logo.png');
$social: url('../images/social-media.png');


// Colors
$white: #FFFFFF;
$white-2: #F5F6F6;
$orange: #E65C43;
$orange-2: #F25C43;
$gray: #666666;
$gray-2: #30353D;


// Breakpoints
$device-tablet: 767px;
$device-phone: 459px;