header {
	@include height-width(null, inherit);
	@include float-clear(null, both);
	text-align: center;
	@include margin-padding(null, 40px 0 0 0);
	
	img {
		max-width: 100%;
		height: auto;
		
		@include break($device-tablet) {
			@include margin-padding(0 0 100px 0, null);
		}
		
		@include break($device-phone) {
			@include margin-padding(0 0 80px 0, null);
		}
	}
	
	h1 {
		color: $orange;
		font-weight: 100;
		font-size: 4em;
		line-height: 0;
		
		@include break() {
			font-size: 3em;
		}
		
		@include break($device-tablet) {
			font-size: 2em;
		}
		
		&:first-child {
			@include break($device-phone) {
				font-size: 1.4em;
				margin-bottom: 20px;
			}
		}
	}
	
	h2 {
		color: $white;
		font-weight: 900;
		font-size: 2.5em;
		line-height: 0;
		margin-bottom: 70px;
		
		@include break() {
			font-size: 1.5em;
		}
		
		@include break($device-tablet) {
			font-size: 1em;
		}
		
		@include break($device-phone) {
			font-size: 1.4em;
		}
	}
	
	h3 {
		color: $gray;
		font-weight: 400;
		font-size: 2em;
		line-height: 0;
		margin-bottom: 50px;
		
		@include break($device-tablet) {
			font-size: 1.5em;
		}
		
		@include break($device-phone) {
			color: $white;
			font-size: 1em;
		}
	}
	
}


#headline {
	@include height-width(130px, 100%);
	background: $orange-2;
	text-align: center;
	@include margin-padding(0 auto, null);
	
	h1 {
		color: $white;
		font-size: 2.5em;
		font-weight: 100;
		padding-top: 50px;
		
		@include break($device-tablet) {
			font-size: 2em;
			padding-top: 50px;
		}
		
		@include break($device-phone) {
			font-size: 1.5em;
			padding-top: 30px;
		}
	}
	
}

#content {
	@include height-width(null, $device-desktop + 1);
	@include margin-padding(20px auto, null);

	@include break() {
		@include height-width(null, inherit);
	}
	
	h3 {
		color: $gray;
		font-size: 2em;
		font-weight: 400;

		@include break($device-phone) {
			font-size: 1.6em;
		}
	}
	
	#products {
		@include height-width(null, $device-phone + 1);
		@include float-clear(left);
	}
	
	#products img {
		@include float-clear(left);
		margin-right: 20px;
	}
	
	#products article {
		margin-bottom: 40px;
	}
	
	#products h4 {
		line-height: 1em;
	}
	
	#testimonials {
		@include height-width(null, $device-phone + 1);
		@include float-clear(right);
	}
	
	#products, #testimonials {
		@include break() {
			@include height-width(null, 46%);
			@include margin-padding(0 2%, null);	
		}
		
		@include break($device-tablet) {
			@include height-width(null, 96%);
			@include margin-padding(0 2%, null);
			@include float-clear(none);
		}
	}
}

.greybar {
	@include height-width(90px, 100%);
	background: $white-2;
	@include float-clear(null, both);
	@include margin-padding(null, 30px 0 0 0);
}

@include break($device-phone) {
	.greybar, article img {
		display: none;
	}
}