footer {
	@include height-width(120px, 100%);
	background: $gray-2;
	text-align: center;
	color: $white;
	@include margin-padding(null, 50px 0 0 0);

	@include break($device-phone) {
		text-align: center;

		p, img {
			float: none;
			@include margin-padding(0, null);
		}
	}
}


$social-count: one, two, three, four;

.social-media {	
	@include margin-padding(0 auto, null);
	@include height-width(null, 165px);
	
	div {
		float: left;
		@include margin-padding(0 5px 0 0, null);
	}
	
	a {
		display: block;
		@include height-width(36px, 36px);
		text-indent: -9999px;
	}
	
	div {
		@each $count in $social-count {
			$i: index($list: $social-count, $value: $count);

			&.#{$count} {
				background: $social-img #{($i - 1) * -38}px 0;
			}
		}
	}
}

