footer {
	@include height-width(120px, 100%);
	background: $gray-2;
	text-align: center;
	color: $white;
	padding-top: 50px;

	@include break($device-phone) {
		text-align: center;

		p, img {
			float: none;
			margin: 0;
		}
	}
}


$social-count: one, two, three, four;

.social-media {
	margin: 0 auto;
	@include height-width(null, 165px);
	
	div {
		float: left;
		margin-right: 5px;
	}
	
	a {
		display: block;
		@include height-width(36px, 36px);
		text-indent: -9999px;
	}
	
	div {
		@each $count in $social-count {
			$i: index($list: $social-count, $value: $count);

			&.#{$count} {
				background: $social-img #{($i - 1) * -38}px 0;
			}
		}
	}
}

