figure {
	@include height-width(400px, 190px);
	background: $logo no-repeat 0 50px;
	float: left;
	display: block;
	margin: 0;

	@include break() {
		@include height-width(inherit, 140px);
		float: none;
		background-position: center;
	}

	@include break($device-phone) {
		background-size: contain;
		@include height-width(100px, null);
	}
}

nav {
	@include height-width(190px, 540px);
	float: left;
	text-align: right;

	@include break() {
		@include height-width(inherit, 50px);
		float: none;
		text-align: center;
	}

	@include break($device-phone) {
		margin-bottom: 40px !important;
	}

	ul {
		list-style-type: none;
		margin-top: 95px;

		@include break() {
			margin-top: 0;
		}

		li {
			display: inline;
			font-size: 0.8em;
			margin-right: 10px;

			@include break() {
				font-size: 1em;
				margin: 0 10px;
			}

			@include break($device-tablet) {
				font-size: 0.8em;
				margin: 0 5px;
			}

			a {
				color: $orange;
				text-decoration: none;
				letter-spacing: -0.01em;

				&:hover {
					color: $white;
				}
			}
		}
	}
}