body {
	font-family: $font-body;
	font-size: 1em;
	line-height: 2em;
	margin: 0;
	background: $bg-body $white repeat-x;
}

main {
	@include height-width(null, $device-desktop + 1);
	margin: 0 auto;
	padding: 0 10px;

	@include break() {
		@include height-width(null, $device-tablet + 1);
	}

	@include break($device-tablet) {
		@include height-width(null, $device-phone + 1);
	}

	@include break($device-phone) {
		@include height-width(null, $device-phone-sm + 1);
	}
}